

*{
	margin:0px;
	padding:0px;
	font-family: helvetica;
}

nav{
 
	margin:50px auto;
	width:800px;
	height:40px;
	background-color: #f0296b;
}

nav > ul > li> ul{
    display: none;
}
nav > ul > li >a span{
    
    display: block;
    line-height: 60px;
    
    
    
    
    
}
ul{
	list-style: none;
	width:1000px;
	height:40px;
}

li{
	float:left;
	width:200px;
	height:40px;
	background-color: green;
	overflow: hidden;
	margin-top:0px;
}
ul#navegation{
    width: 100%;
    margin: auto;
}

div.contenedor_general:hover{
	margin-top:-40px;
        height: 100px;
}

div.contenedor_general{
	width:200px;
	height:80px;
	background-color: yellow;
	-webkit-transition:margin-top .2s;
}

div.contenedor_uno{
	width:200px;
	height:36px;
	background-color: black;
	overflow: hidden;
	border-bottom:4px solid #f0296b;
}

div.contenedor_dos{
	width:200px;
	height:36px;
	background-color: #f0296b;
	overflow: hidden;
	border-bottom:4px solid black;
}



p.texto_uno, p.texto_dos{
	text-align: center;
	margin-top:10px;
	color:white;
}

